{% extends 'base.html' %}
{% load static %}

{% block title %}
Ateneo Trade
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/landing.css' %}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="landing-page">
		<div class="atrade-logo">
			<h1>Ateneo Trade</h1>
		</div>
		<div class="google-buttons">
			<a role="button" href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-login">
				<img class="google-icon" src="{% static 'shop/google-icon.png' %}" alt="Google Icon">
				<strong>Log in with Google</strong>
			</a>
		</div>
	</div>
</div>
{% endblock %}