{% extends 'navbar.html' %}
{% load static %}

{% block title %}
Categories
{% endblock %}

{% block links %}
	<link rel="stylesheet" href="{% static 'shop/css/categories.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(e) {
			{% for cat in category_list %}
				$('#'.concat({{cat}})).attr('checked', true);
			{% endfor %}
		});
	</script>
{% endblock %}

{% block header %}
<div class="banner-title">
	<h5>Categories</h5>
</div>
{% endblock %}

{% block content %}
<div class="seller-container">
	<div class="sort-form align-items-center offset-sm-7 d-flex justify-content-end">
		<label for="item-price" class="col-lg-3 col-form-label">Sort By</label>
		<select id="item-price" class="custom-select custom-select-sm">
		  <option selected>Price (Low to High)</option>
		  <option value="1">Oldest to Newest</option>
		  <option value="2">Newest to Oldest</option>
		</select>
	</div>
	<div class="body row">
		<div class="col-lg-3 categories mr-2 py-sm-4 px-sm-4">
			<form method="GET">
				<h5>Categories</h5> 
				{% for cat in cats %}
					<div class="custom-control custom-checkbox mt-sm-3">
						<input type="checkbox" class="custom-control-input" id="{{ forloop.counter }}" name="{{ forloop.counter }}" value="{{ cat.1 }}">
						<label class="custom-control-label" for="{{ forloop.counter }}">{{ cat.1 }}</label>
				 	</div>
				{% endfor %}
				<div class="text-center mt-sm-3">
					<button type="submit" class="btn btn-primary font-weight-bold item-btn">
		              Filter
					</button>
				</div>
			</form>
		</div>
		<div class="col-sm-8 items mt-4 ml-sm-5">
			{% for item in items %}
			<div class="card item-card">
				{% with item.image_set.all|first as img %}
					<a href="{% url 'view-item-detail' item.pk %}"><img class="card-img-top" src="/media/{{ img.image }}" alt="{{item.name}}"></a>
				{% endwith %}
				<div class="item-body mx-3 py-2">
					<a href="{% url 'view-item-detail' item.pk %}"><h5 class="item-title">{{ item.name }}</h5></a>
					<h6 class="item-price">₱ {{ item.price }}</h6>
					</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}