{% extends 'navbar.html' %}
{% load static %}

{% block title %}
Post Item
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/feed.css' %}">
{% endblock %}

{% block header %}
<div class="feed-title">
	<h5 class="text-center">Ateneo Trade</h5>
</div>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
	<div class="category-card" style="background-image: url({% static 'shop/assets/clothes.svg' %})">
		<div class="category-title">
			<p>Clothes</p>
		</div>
	</div>
	<div class="category-card" style="background-image: url({% static 'shop/assets/clothes.svg' %})">
		<div class="category-title">
			<p>Clothes</p>
		</div>
	</div>
	<div class="category-card" style="background-image: url({% static 'shop/assets/clothes.svg' %})">
		<div class="category-title">
			<p>Clothes</p>
		</div>
	</div>
		<div class="category-card">
		<div class="more-categories d-flex pt-sm-5 pl-sm-5">
			<p>More Categories</p>
			<img class="ml-md-2 mt-md-1 arrow-img" src="{% static 'shop/assets/arrow.svg' %}">
		</div>
	</div>
</div>
<div class="card item-card">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <img class="card-img" src="{% static 'shop/assets/succulent1.svg' %}" alt="Succulents">
    </div>
    <!-- <div class="col-sm-3 d-flex flex-sm-column">
      <img src="{% static 'shop/assets/succulent2.svg' %}" alt="Succulents">
      <img src="{% static 'shop/assets/succulent3.svg' %}" alt="Succulents">
      <img src="{% static 'shop/assets/succulent4.svg' %}" alt="Succulents">
    </div> -->
    <div class="col-sm-6">
      <div class="card-body">
      	<div class="card-info mb-md-3">
	        <h4 class="card-title">Succulents</h4>
	        <p class="price-text">₱ 100.00</p>
	        <div class="row">
	        	<div class="col-sm-2">
					<img src="{% static 'shop/assets/place.svg' %}" alt="Succulents">
	        	</div>
	        	<div>
	        		<small class="text-muted">Parañaque City</small>
	        	</div>
	        </div>
      	</div>
        <p class="card-text">Hello! Selling succulents for only 100 pesos each! They will make great companions when ur feeling lonely. You will not be disappointe...</p>
        <br>
    	<div class="d-flex flex-wrap">
        	<div class="item-category px-md-2">
	        	Plants
        	</div>
    	</div>
        <div class="card-end">
        	<span class="card-title">Seller Information</span>
        	<div class="seller-info row mt-md-1">
        		<div class="seller-picture col-md-2">
					<img src="{% static 'shop/assets/riana.svg' %}" alt="Riana">
        		</div>
        		<div class="col-md-7 div-info">
	        		<h6 class="seller-name seller-contact">Riana G. Lim</h6>
        			<h6 class="seller-contact">0917 504 4438</h6>
        			<h6 class="seller-contact">Rating: 4.72/5</h6>
        		</div>
        		<div class="seller-message col-md-2">
					<img src="{% static 'shop/assets/seller-message.svg' %}" alt="Message Seller">
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}