{% extends 'navbar.html' %}
{% block content %}
    {% for item in object_list %}
        <div><a href="item/{{item.pk}}/detail/">{{ item.name }}</a></div>
        <div>{{ item.description }}</div>
        <div>{{ item.price }}</div>
        <div>{{ item.category }}</div>
        <div>{{ item.location }}</div>
        <div>{{ user.get_full_name }}</div>
        <div>{{ user.profile.trade_pts }}</div>
        <div>{{ user.profile.contact_num }}</div>
        <div>{{ image.image }}</div>
        {% for image in item.image_set.all %}
            {% if image.image != "" %}
                <img src="/media/{{ image.image }}" style="width:200px; height:200px; margin:0.2em;" alt="{{item.name}}">
            {% endif %}
        {% endfor %}
        <br><br>
    {% endfor %}
{% endblock %}