{% extends 'navbar.html' %}
{% load static %}

{% block title %}
{{ item.name }}
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/item-detail.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Script for the side images -->
  <script>
  	$(document).ready(function(e) {
  	  $('.item-image').click(function() {
  	  	var currImg = $(this).find('img').attr('src');

  	  	$('#big-image-id').attr('src', currImg);

  	  });
  	});
  </script>
{% endblock %}

{% block header %}
<div class="banner-title">
	<h5>Seller Profile</h5>
</div>
{% endblock %}

{% block content %}
<div class="seller-info row mt-md-4 ml-md-5">
    <div class="seller-picture col-md-2">
        <img src="{% static 'shop/assets/riana.svg' %}" alt="Riana">
    </div>
    <div class="col-md-10 div-info">
        <h6 class="seller-name seller-contact">{{ item.user.get_full_name }}</h6>
        <h6 class="seller-contact">{{ item.user.profile.contact_num }}</h6>
        <h6 class="seller-contact">Rating: {{ item.user.profile.trade_pts }}/5</h6>
    </div>
</div>
<div class="item-container my-sm-5 ml-sm-5">
	<div class="item-image">
		<img src="{% static 'shop/assets/succulent1.svg' %}" class="img-item" alt="Succulent 1">
	</div>
	<div class="item-image">
		<img src="{% static 'shop/assets/succulent2.svg' %}" class="img-item" alt="Succulent 2">
	</div>
	<div class="item-image">
		<img src="{% static 'shop/assets/succulent3.svg' %}" class="img-item" alt="Succulent 3">
	</div>
	<div class="item-image">
		<img src="{% static 'shop/assets/succulent4.svg' %}" class="img-item" alt="Succulent 4">
	</div>
	<div class="item-image">
		<img src="{% static 'shop/assets/succulent4.svg' %}" class="img-item" alt="Succulent 4">
	</div>

	<div class="big-image">
		<img src="{% static 'shop/assets/succulent1.svg' %}" id="big-image-id" alt="Succulent 1">
	</div>

	<div class="item-info">
		<h3 class="item-name">Succulents</h3>
		<h5 class="item-name item-price">Php 100.00</h5>
		<div class="row">
			<div class="col-sm-1">
				<img src="{% static 'shop/assets/place.svg' %}" alt="Place">
			</div>
			<div class="col">
				<small>Paranaque City</small>
			</div>
		</div>
		<br>
		<p>
			Hello! Selling succulents for only 100 pesos each! They will make great companions when ur feeling lonely.
		</p>
		<p>
			You will not be disappointed in these succulents they are like friends.
		</p>
		<div class="d-flex flex-wrap">
		    <div class="item-category px-md-3">
		        Plants
		    </div>
		</div>
		<br>
		<a href="#" class="btn btn-primary font-weight-bold item-btn">
          Message Seller
		</a>
	</div>
</div>
<div class="more-user-items ml-sm-5 my-5">
	<h4 class="item-name">More from this seller</h4>
	<div class="items mt-sm-4">
		<div class="card item-card">
			<img src="{% static 'shop/assets/succulent-profile.svg' %}" class="card-img-top" alt="Succulent">
			<div class="item-body mx-3 py-2">
			    <h5 class="user-item-title">Succulents</h5>
			    <h6 class="user-item-price">Php 100.00</h6>
			  </div>
		</div>
		<div class="card item-card">
			<img src="{% static 'shop/assets/succulent-profile.svg' %}" class="card-img-top" alt="Succulent">
			<div class="item-body mx-3 py-2">
			    <h5 class="user-item-title">Succulents</h5>
			    <h6 class="user-item-price">Php 100.00</h6>
			  </div>
		</div>
		<div class="card item-card">
			<img src="{% static 'shop/assets/succulent-profile.svg' %}" class="card-img-top" alt="Succulent">
			<div class="item-body mx-3 py-2">
			    <h5 class="user-item-title">Succulents</h5>
			    <h6 class="user-item-price">Php 100.00</h6>
			  </div>
		</div>
		<div class="card item-card">
			<img src="{% static 'shop/assets/succulent-profile.svg' %}" class="card-img-top" alt="Succulent">
			<div class="item-body mx-3 py-2">
			    <h5 class="user-item-title">Succulents</h5>
			    <h6 class="user-item-price">Php 100.00</h6>
			  </div>
		</div>
	</div>
</div>
{% endblock %}
