{% extends 'navbar.html' %}
{% load static %}

{% block title %}
{{ item.name }}
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/item-detail.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Script for the side images -->
  <script>
  	$(document).ready(function(e) {
  	  $('.item-image').click(function() {
  	  	var currImg = $(this).find('img').attr('src');

  	  	$('#big-image-id').attr('src', currImg);

  	  });
  	});
  </script>
{% endblock %}

{% block header %}
<div class="banner-title">
	<h5>Seller Profile</h5>
</div>
{% endblock %}

{% block content %}
<div class="seller-info row mt-md-4 ml-md-5">
    <div class="seller-picture col-md-2">
        <img src="{% static 'shop/assets/riana.svg' %}" alt="Riana">
    </div>
    <div class="col-md-10 div-info">
        <a href="{% url 'seller-profile' item.user.pk %}"><h6 class="seller-name seller-contact">{{ item.user.get_full_name }}</h6></a>
        <h6 class="seller-contact">{{ item.user.profile.contact_num }}</h6>
        <h6 class="seller-contact">Rating: {{ item.user.profile.trade_pts }}/5</h6>
    </div>
</div>
<div class="item-container my-sm-5 ml-sm-5">
	{% for image in item.image_set.all %}
		{% if image.image != "" %}
			<div class="item-image">
				<img src="/media/{{ image.image }}" class="img-item" alt="{{ image.name }}">
			</div>
		{% endif %}
	{% endfor %}
	<div class="big-image">
		{% with item.image_set.all|first as img %}
			<img id="big-image-id" src="/media/{{ img.image }}" alt="{{item.name}}"></a>
		{% endwith %}
	</div>

	<div class="item-info">
		<h3 class="item-name">{{ item.name }}</h3>
		<h5 class="item-name item-price">Php {{ item.price }}</h5>
		<div class="row">
			<div class="col-sm-1">
				<img src="{% static 'shop/assets/place.svg' %}" alt="Place">
			</div>
			<div class="col">
				<small>{{ item.location }}</small>
			</div>
		</div>
		<br>
		<p>
			{{ item.description }}
		</p>
		<div class="d-flex flex-wrap">
		    <div class="item-category px-md-3">
		        {{ item.category }}
		    </div>
		</div>
		<br>
		<a href="http://www.{{item.user.profile.fb_link}}" class="btn btn-primary font-weight-bold item-btn">
          Message Seller
		</a>
	</div>
</div>
<div class="more-user-items ml-sm-5 my-5">
	<h4 class="item-name">More from this seller</h4>
	<div class="items mt-sm-4">
		{% for more_item in user.item_set.all %}
			{% if item != more_item %}
			<div class="card item-card">
				{% with more_item.image_set.all|first as img %}
					<a href="{% url 'view-item-detail' more_item.pk %}"><img class="card-img-top" src="/media/{{ img.image }}" alt="{{more_item.name}}"></a>
				{% endwith %}
				<div class="item-body mx-3 py-2">
					<a href="{% url 'view-item-detail' more_item.pk %}"><h5 class="user-item-title">{{ more_item.name }}</h5></a>
					<h6 class="user-item-price">Php {{ more_item.price }}</h6>
				  </div>
			</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
