body {
	/*background-color: #E5E5E5;*/
	font-family: 'Barlow', sans-serif;
	color: #4F4F4F;
}

.navbar-nav > li{
  padding-left:0.1rem;
  padding-right:0.1rem;
}

.nav-btn {
	font-size: 0.9em !important;
}