.post-form {
	margin: 3rem 12rem 5rem 12rem;
}

.form-control {
	border: 1px solid #828282;
	box-sizing: border-box;
	border-radius: 10px;
}


.custom-select {
	border: 1px solid #828282;
	box-sizing: border-box;
	border-radius: 10px;
}

.upload-image {
	position: relative;
	background: #E0E0E0;
	height: 90px;
	width: 90px;
}

.upload-icon {
	position: absolute;
	left: 42%;
	top: 40%;
}