{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<nav class="navbar-expand-lg navbar-light py-5" id="navbar">
    <div class="container-fluid" style="overflow: hidden; background-color: white; position: fixed; top: 0; z-index: 9000;">
      <!-- Button when navbar is collapsed -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-brand mr-lg-5 nav-item-hover">
            <a class="nav-link text-dark font-weight-bold align-middle h4" href="{% url 'home' %}">Ateneo Trade</a>
          </li>
          <form class="form-inline col-lg-6" action="{% url 'home' %}">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm col-11">
                <div class="input-group">
                  <input type="search" name="search" placeholder="Search for an item, seller, or category" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                  <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                  </div>
                </div>
            </div>
          </form>
          <li class="nav-item col-lg-2 my-lg-auto ml-auto">
            <a role="button" href="{% url 'post-item' %}" class="btn btn-primary font-weight-bold nav-btn">
              Post Items
            </a>
          </li>
          <li class="nav-item col-lg-2 my-lg-auto">
            <a role="button" href="{% url 'your-items' %}" class="btn btn-light font-weight-bold nav-btn">
              Your Items
            </a>
          </li>
          <li class="nav-item col-lg-2 my-lg-auto">
            <a role="button" href="{% url 'logout' %}" class="btn btn-light font-weight-bold nav-btn">
              Log-out
            </a>
          </li>
          <li class="nav-item col-lg-1 my-lg-auto">
            <a href="#">
              <img src="{% static 'shop/assets/message.svg' %}">
            </a>
          </li>
          <li class="nav-item my-lg-auto">
            <a href="{% url 'profile' %}">
              <img src="{% static 'shop/assets/person.svg' %}">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
