{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    Ateneo Trade
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'shop/css/feed.css' %}">
  <script>
     function chooseFile() {
        $("#display-pic").click();
     }
  </script>
{% endblock %}

{% block header %}
<div class="banner-title">
  <h5>Seller Profile</h5>
</div>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="d-flex justify-content-center">
  <div class="post-form w-50">
    <div class="form-row mb-lg-1 d-flex justify-content-center align-items-center">
      <div style="height:0px;overflow:hidden">
        {{ profile_form.display_pic }}
      </div>
      <img src="{% get_media_prefix %}{{ request.user.profile.display_pic }}" class="rounded-circle" style="height:200px; width: 200px; object-fit: cover; margin-left:15px; padding: 10px;" />
      <button type="button" onclick="chooseFile();" class="btn btn-light" style="height: 40px;">Upload Display Picture</button>
    </div>

    <div class="form-column mt-sm-4 ml-sm-2">
      <div class="form-row">
        <label for="first-name" class="col-lg-5 col-form-label" style="padding:10px">First Name:</label>
        <div class="col-lg-7" id="first-name">
          {{ user_form.first_name }}
        </div>
      </div>

      <div class="form-row">
        <label for="exampleInputEmail1" class="col-lg-5 col-form-label" style="padding:10px">Last Name:</label>
        <div class="col-lg-7">
          {{ user_form.last_name }}
        </div>
      </div>

      <div class="form-row">
        <label for="exampleInputEmail1" class="col-lg-5 col-form-label" style="padding:10px">Contact Number:</label>
        <div class="col-lg-7">
          {{ profile_form.contact_num }}
        </div>
      </div>

      <div class="form-row">
        <label for="facebook-name" class="col-md-5 col-form-label" style="padding:10px">Facebook Link: </label>
        <div class="col-lg-7">
          {{ profile_form.fb_link }}
        </div>
      </div>
    </div>

    <div class="form-row mb-lg-3 mt-lg-4">
      <div class="col-md-10">
        <label for="facebook-name" class="col-form-label">Additional Details:</label>
      </div>
      <div class="col-md-2">
          <label for="Visibility" class="col-form-label">Visibility</label>
      </div>
    </div>

    <div class="form-row mb-lg-1">
      <label for="email" class="col-md-3 col-form-label">Email: </label>
      <div class="col-md-6">
        {{ user_form.email }}
      </div>

      <div class="col-md-1 offset-md-1">
        <div class="custom-control custom-switch">
          {{ profile_form.email_is_visible }}
          <label class="custom-control-label" for="email-switch"></label>
        </div>
      </div>
    </div>

    <div class="form-row mb-lg-1">
      <label for="school" class="col-md-3 col-form-label">School: </label>
      <div class="col-md-6">
        {{ profile_form.school }}
      </div>

      <div class="col-md-1 offset-md-1">
        <div class="custom-control custom-switch">
          {{ profile_form.school_is_visible }}
          <label class="custom-control-label" for="school-switch"></label>
        </div>
      </div>
    </div>


    <div class="form-row mb-lg-1">
      <label for="graduation-year" class="col-md-3 col-form-label">Graduation Year: </label>
      <div class="col-md-6">
        {{ profile_form.grad_year }}
      </div>

      <div class="col-md-1 offset-md-1">
        <div class="custom-control custom-switch">
          {{ profile_form.gradyr_is_visible }}
          <label class="custom-control-label" for="graduation-year-switch"></label>
        </div>
      </div>
    </div>


    <div class="form-row mb-lg-4 mt-lg-4">
      <div class="col-md-3 offset-md-6">
        <button type="submit" class="btn btn-primary" style="padding:10px">Save Changes</button>
      </div>
      <div class="col-md-3">
        <a href="{% url 'home' %}" class="btn btn-secondary" style="padding:10px">Cancel</a>
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}
